{% extends 'base_no_cart.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-购物车{% endblock title %}
{% block page_title %}购物车{% endblock page_title %}
{% block body %}
	<div class="total_count">全部商品<em>{{ total_count }}</em>件</div>
    {% csrf_token %}
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>


    <form method="post" action="{% url 'order:place' %}">
    {% csrf_token%}
    {% for sku in skus %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="sku_ids"  value="{{ sku.id }}"></li>
		<li class="col02"><img src="{{ sku.image.url }}"></li>
		<li class="col03">{{ sku.name }}<br><em>{{ sku.price }}元/{{ sku.unite }}</em></li>
		<li class="col04">{{ sku.unite }}</li>
		<li class="col05">{{ sku.price }}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" sku_id="{{ sku.id }}" class="num_show fl" value="{{ sku.count }}">
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>
		<li class="col07">{{ sku.amount }}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
    {% endfor %}
	<ul class="settlements">
		<li class="col01"><input type="checkbox" name=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>{{ total_price }}</em><br>共计<b>{{ total_count }}</b>件商品</li>
		<li class="col04"><input type="submit" value="去结算"></li>
	</ul>
    </form>
{% endblock body %}

{# 开始编写jq代码#}
{% block bottomfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
    update_page_info()
    // 计算被选中的商品的总件数和总价格
    function update_page_info() {
        var total_count = 0
        var total_price = 0
        // 获取所有被选中的商品的ul元素
        $('.cart_list_td').find(':checked').parents('ul').each(function () {
            // 获取商品的数目和小计
            count = $(this).find('.num_show').val()
            amount = $(this).children('.col07').text()
            // 累加计算商品的总件数和总金额
            total_count += parseInt(count)
            total_price += parseFloat(amount)
        })
        // 设置选中商品的总件数和总金额
        $('.settlements').find('em').text(total_price.toFixed(2))
        $('.settlements').find('b').text(total_count)

    }

    // 更新商品的小计
    function update_sku_amount(sku_ul) {
        // 获取商品的数目和价格
        var price = sku_ul.children('.col05').text()
        var count = sku_ul.find('.num_show').val()
        // 计算商品的小计
        var amount = parseInt(count)*parseFloat(price)
        // 设置商品的小计
        sku_ul.children('.col07').text(amount.toFixed(2)+'元')
    }

    // 全选和全不选
    $('.settlements').find(':checkbox').change(function () {
        // 获取全选checkbox的选中状态
        var is_checked = $(this).prop('checked')
        // 设置商品的checkbox和全选的checkbox状态保持一致
        $('.cart_list_td').find(':checkbox').each(function () {
            $(this).prop('checked', is_checked)
        })
        // 更新页面信息
        update_page_info()
    })

    // 商品的checkbox状态发生改变时，设置全选checkbox的状态改变
    $('.cart_list_td').find(':checkbox').change(function () {
        // 获取所有商品checkbox的数目
        var all_len = $('.cart_list_td').find(':checkbox').length
        // 获取被选中的商品checkbox的数目
        var check_len = $('.cart_list_td').find(':checked').length
        // 判断
        var is_checked = true
        if (check_len < all_len){
            is_checked = false
        }
        // 设置全选checkbox的选中状态
        $('.settlements').find(':checkbox').prop('checked', is_checked)
        // 更新页面信息
        update_page_info()
    })

    // 更新购物车商品的信息
    var error_update = false
    var total_count = 0
    function update_remote_cart_info(sku_id, count) {
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        // 组织参数
        var params = {'sku_id':sku_id, 'count':count, 'csrfmiddlewaretoken':csrf}
        // 更新购物车记录
        // 设置ajax 请求为同步
        $.ajaxSettings.async = false
        // 发起ajax post请求，访问/cart/update, 传递参数:sku_id count
        $.post('/cart/update', params, function (data) {
            if (data.res == 5){
                // 更新成功
                error_update = false
                total_count = data.total_count
            }
            else{
                // 更新失败
                error_update = true
                alert(data.errmsg)
            }
        })
        // 设置ajax请求为异步, false 代表为 同步 true 代表异步
        $.ajaxSettings.async = true
    }

    // 购物车记录的增加
    $('.add').click(function () {
        // 获取商品的id和商品的数目
        var count = $(this).next().val()
        var sku_id = $(this).next().attr('sku_id')

        count = parseInt(count)+1

        // 更新购物车记录
        update_remote_cart_info(sku_id, count)

        // 进行处理
        if (error_update == false){
            // 重新设置商品的数目
            $(this).next().val(count)
            // 更新商品的小计
            update_sku_amount($(this).parents('ul'))
            // 判断是否更新选中商品的总件数和总金额
            is_checked = $(this).parents('ul').find(':checkbox').prop('checked')
            if (is_checked){
                // 更新页面信息
                update_page_info()
            }
            // 更新页面购物车商品的总件数
            $('.total_count').children('em').text(total_count)
        }
    })

    // 购物车记录的减少
    $('.minus').click(function () {
        // 获取商品的id和商品的数目
        var count = $(this).prev().val()
        var sku_id = $(this).prev().attr('sku_id')

        count = parseInt(count)-1
        if (count <= 0){
            return
        }

        // 更新购物车记录
        update_remote_cart_info(sku_id, count)

        // 进行处理
        if (error_update == false){
            // 重新设置商品的数目
            $(this).prev().val(count)
            // 更新商品的小计
            update_sku_amount($(this).parents('ul'))
            // 判断是否更新选中商品的总件数和总金额
            is_checked = $(this).parents('ul').find(':checkbox').prop('checked')
            if (is_checked){
                // 更新页面信息
                update_page_info()
            }
            // 更新页面购物车商品的总件数
            $('.total_count').children('em').text(total_count)
        }
    })

    // 保存用户输入之前购物车中商品的数目
    var pre_count = 0
    $('.num_show').focus(function () {
        pre_count = $(this).val()
    })

    // 手动输入购物车商品数目
    $('.num_show').blur(function () {
        // 获取商品的id和商品的数目
        var count = $(this).val()
        var sku_id = $(this).attr('sku_id')

        // 判断用户输入的商品数目是否合法
        if (isNaN(count) || count.trim().length==0 || parseInt(count)<=0){
            // 设置商品的数目为用户输入之前的数目
            $(this).val(pre_count)
            return
        }

        // 更新购物车记录
        count = parseInt(count)
        update_remote_cart_info(sku_id, count)

        // 进行处理
        if (error_update == false){
            // 重新设置商品的数目
            $(this).val(count)
            // 更新商品的小计
            update_sku_amount($(this).parents('ul'))
            // 判断是否更新选中商品的总件数和总金额
            is_checked = $(this).parents('ul').find(':checkbox').prop('checked')
            if (is_checked){
                // 更新页面信息
                update_page_info()
            }
            // 更新页面购物车商品的总件数
            $('.total_count').children('em').text(total_count)
        }
        else{
            // 设置商品的数目为用户输入之前的数目
            $(this).val(pre_count)
        }
    })

    // 删除购物车记录
    $('.cart_list_td').children('.col08').children('a').click(function () {
        // 获取商品的id
        var sku_id = $(this).parents('ul').find('.num_show').attr('sku_id')
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        var sku_ul = $(this).parents('ul')
        // 组织参数
        params = {'sku_id':sku_id, 'csrfmiddlewaretoken':csrf}
        // 发起ajax post请求，访问/cart/delete, 传递参数:sku_id
        $.post('/cart/delete', params, function (data) {
            if (data.res == 3){
                // 删除成功
                // 移除页面商品所在的ul
                sku_ul.remove() // 移除自身和子元素 empty:只移除子元素
                // 获取sku_ul中checkbox的选中状态
                var is_checked = sku_ul.find(':checkbox').prop('checked')
                if (is_checked){
                    // 更新页面信息
                    update_page_info()
                }
                // 设置页面购物车中商品的总件数
                $('.total_count').children('em').text(data.total_count)
            }
            else{
                // 删除失败
                alert(data.errmsg)
            }
        })
    })

    </script>
{% endblock bottomfiles %}